<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css">
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
    <title><%= current_page.data.title || "Pedro Sassaki | Portfolio & Web Development Projects" %></title>
    <meta name="description" content="Portfolio of Pedro Sassaki — former Production Manager turned Web Developer. Skilled in process optimization, team leadership, and delivering reliable, user-focused solutions.">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Pedro Sassaki | Portfolio & Web Development Projects" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://pqsportfolio.netlify.app/" />
    <meta property="og:image" content="<%= image_path 'portfolio-preview.png' %>" />
    <meta property="og:description" content="Portfolio of Pedro Sassaki — former Production Manager turned Web Developer. Skilled in process optimization, team leadership, and delivering reliable, user-focused solutions." />
    <meta property="og:site_name" content="Pedro Sassaki Portfolio" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@yourhandle">
    <meta name="twitter:title" content="Pedro Sassaki | Portfolio & Web Development Projects">
    <meta name="twitter:description" content="Former Production Manager turned Web Developer — showcasing transferable skills in process optimization, team leadership, and bootcamp projects.">
    <meta name="twitter:creator" content="@yourhandle">
    <meta name="twitter:image:src" content="<%= image_path 'portfolio-preview.png' %>">

  </head>
  <body>
    <%= yield %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
